.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 10px;
  padding: 10px 15px;
}

.nav-link {
  color: #c2c5ca;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  color: #858c96;
}

.active {
  color: #fff !important;
  font-weight: 500;
}

.item-icon {
  color: #fff;
}
