.events-list {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 80%;
}

.events-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
  border-bottom: 1px solid #eee;
}

.events-title {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.no-events {
  font-size: 1rem;
  font-weight: 300;
  color: #aaa;
  text-align: center;
  margin: auto;
}

.events {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
